tr {
    height: 41px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;  
}

.grid-container {
    display: grid;
    margin: 0 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
}

.bingo {
    margin-top: 1rem;
}

td {
    text-align: center;
    font-weight: bold;
}